<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @concert.duration %>
</p>
<p>
  <strong>Total Attendance</strong>
  <%= @concert.attendance %>
</p>

<p>
  <strong>Location:</strong>
  <%= @concert.location %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
